@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "MyApp";
}

<h1>My App</h1>
<div>
    <button id='my_button'>Smile!</button>
    <div>
        <img id='smile' style='width:80%' />
    </div>
</div>

<script type="text/javascript" src="/js/index.js"></script>